doctype html
html(lang="es")
head
	title Mi primera página con expres
	meta(charset="utf-8")
	link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet")
	link(href="/public/css/app.css" rel="stylesheet")
	body
		nav(class="large-padding black white-text")
			ul
				li
					a(href="/app") Inicio
				li
					a(href="/app/imagenes") Mis imagenes
	block contenido