extends ./layout.pug
block contenido
	form(method='POST' action='/users')
		div(class="col-md-6 remove-float center-block big-top-space")
			div.form-group
			label(for='email') Email:
			input#email.form-control(type='text', placeholder='Email' name='email' value='mary' class="form-control")
			div
			div.form-group
			label(for='username') Username:
			input#username.form-control(type='text', placeholder='Username' name='username' value='mrdoriguezt' class="form-control")
			div
			label(for='password') Password:
			input#password.form-control(type='password', placeholder='Password' name='password' value='mary' class="form-control")
			div
			label(for='password_confirmation') Confirma tu password:
			input#password.form-control(type='password', placeholder='Confirm Password' name='password_confirmation' value='mary' class="form-control")
			div(class="row")
				div(class="col-xs-12 col-sm-6")
					div(class="top-space")
					input#submit.form-control(type="submit" class="btn btn-info")
				div(class="col-xs-12 col-sm-6 text-right")
					div(class="top-space")
					a(href="/login") Ya tengo cuenta
	
	